body {
    background-color: slateblue;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.about-name {
    display: flex;
    height: 100px;
    width: 100px;  
}

.about-image {
    height: 20rem;
    width: 70%;
    padding-top: 20px;
}

.about-why {
    height: 30px;
    width: 50vw;
}

.about-color {
    height: 30px;
    width: 50vw;
    padding-top: 10px;
}