body {
    background-color: slateblue;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh;
}

.home-image {
    height: 30rem;
    width: 50%;
    padding-top: 10px;
}