body {
    background-color: slateblue;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh;
}

.home-image {
    height: 20rem;
    width: 30rem;
    padding-top: 10px;
}

.forum {
    display: flex;
    flex-direction: row;
}

.forum-image {
    height: 100px;
    width: 100px;
}

.forum-topic {
    height: 20px;
    width: 75vw;
}