body {
    background-color: #5B7C99;
}

.navbar {
    display: flex;
    justify-content: center;
}

.main-pages {
    padding: 1rem;
    text-decoration: none;
}

.main-pages:visited {
    color: black;
}

#forum-container {
    display: flex;
    flex-direction: column;
}

.forum {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: flex-start;
    /* gap: 5px;*/
    padding: 1rem 1rem 1rem 1rem;
    
}

/* .forum-title {
    align-items: center;
} */

.forum-image {
    height: 100px;
    width: 100px;
    padding-right: 5px;
}

.text-section {
    display: block;
    flex-direction: column;
    /* align-content: space-evenly; */
    justify-content: space-around;
}

.forum-name {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* height: 5rem;
    width: 5rem; */
}

.forum-topic {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    height: 20px;
    width: 80vw;
    margin: 0;
    padding-bottom: 1rem;
}

.forum-response {
    height: 50px;
    width: 100%;
    /* margin-top: 15px; */
    gap: 20px;
    display: block;
    margin-top: 20px;
}

.quote-section {
    display: flex;
    justify-content: center;
}

#quote-btn {
    height: 50px;
    width: 100px;
    font-size: large;
}

#quote-text {
    font-family: fantasy;
    font-size: x-large;
    margin: 0;
}

#author {
    margin: 0;
}