body {
    background-color: #5B7C99;
}

.navbar {
    display: flex;
    justify-content: center;
}

.main-pages {
    padding: 1rem;
    text-decoration: none;
}

.main-pages:visited {
    color: black;
}

#testimony-container {
    display: flex;
}

.testimony {
    display: flex;
    flex-direction: row;
    padding: 10rem;
    border: 1px solid black;
    margin: 1rem;
    font-style: italic;
}